<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JLA Project</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

    <nav class="topnav">
        <a href="{{ url_for('home') }}" class="{% if request.path == '/index' %}active{% endif %}">Student Page</a>
        <a href="{{ url_for('admin') }}" class="{% if request.path == '/admin' %}active{% endif %}">Administration Page</a>
        <a href="{{ url_for('schedule')}}" class="{% if request.path == '/schedule' %}active{% endif %}">Schedule</a>
        
    </nav>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

</body>
</html>
